body{
  height: 100vh;
  background-image: url('../assets/streetbg.jfif');
  background-size: cover;
  background-position: contain;
  background-repeat: no-repeat;
  background-origin: 50%/50%;
}
body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}